@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: gainsboro;
}

header {
  background: #0b1215;
  padding: 1rem 3rem;
  box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

header div {
  display: inline-block;
}

header div h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 42px;
  background: -webkit-linear-gradient(220.55deg, #8fff85 0%, #39a0ff 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 550px) {
  header div h1 {
    font-size: 24px;
  }
}

main {
  display: grid;
  grid-template-columns: 3fr;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  padding: 2rem;
}

main .card {
  border: 2px solid red;
}
