@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  font-family: "Orbitron", sans-serif;
  height: calc(100vh - 72px);
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0b1215;
  padding: 1rem 3rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  text-align: center;
}

.header-content {
  max-width: 1080px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-content img {
  filter: invert(100%) sepia(1%) saturate(6565%) hue-rotate(347deg)
    brightness(97%) contrast(100%);
  cursor: pointer;
}

.text-box {
  display: inline-block;
}

header div h1 {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 24px;
  background: -webkit-linear-gradient(220.55deg, #fff6eb 0%, #dfd1c5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  margin: 72px auto 0;
  background-color: #d4d4d4;
  min-height: calc(100vh - 72px);
  padding: 0.5em;
}

.container {
  height: 170px;
  width: 370px;
  background-color: #ebebeb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  transition: all, 0.2s;
  box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
}

.container .inside {
  width: 320px;
  height: 100px;
  background-color: #dddddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  transition: all 0.2s;
}

.weeks {
  margin-top: 10px;
}

.weeks span {
  margin-left: 17px;
  font-size: 11px;
  font-weight: 500;
  color: rgb(194, 194, 194);
  transition: all, 0.2s;
}

span.curr-day {
  color: #000;
  font-weight: 600;
  transition: all 0.2s;
}

.clock-icon {
  position: absolute;
  bottom: 25px;
  left: 20px;
  color: #000;
  font-size: 11px;
  transition: all 0.2s;
}

.timer {
  height: 55px;
  width: 225px;
  margin-top: 5px;
  margin-left: 50px;
  font-size: 34px;
}

.timer span {
  color: #000;
  font-weight: 700;
  position: relative;
  top: 7px;
  transition: all 0.2s;
}

.timer span:nth-child(even) {
  color: dimgrey;
  transition: all 0.2s;
}

.ampm {
  height: 25px;
  width: 30px;
  text-align: center;
  color: rgb(194, 194, 194);
  font-weight: 400;
  font-size: 13px;
  position: absolute;
  bottom: 21px;
  right: 15px;
  transition: all 0.2s;
}

.ampm .curr-time-period {
  color: #000;
  transition: all 0.2s;
}

.toggle-btn {
  all: unset;
  height: 18px;
  width: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272e38;
  border-radius: 100%;
  font-size: 8px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.container.dark {
  background-color: #272e38;
  transition: all 0.2s;
}

.container.dark .inside {
  background-color: #0f1620;
  transition: all 0.2s;
}

.container.dark .ampm,
.container.dark .weeks span {
  color: dimgrey;
}

.container.dark .timer span,
.container.dark .clock-icon,
.container.dark span.curr-day,
.container.dark .ampm .curr-time-period {
  color: #fff;
  text-shadow: 0 0 2px #fff;
}

@media screen and (min-width: 750px) {
  header div h1 {
    font-size: 32px;
  }

  main {
    margin: 84.8px auto 0;
    padding: 1rem;
  }

  .container {
    width: 700px;
    height: 240px;
    border-radius: 15px;
  }

  .container .inside {
    width: 620px;
    height: 180px;
    border-radius: 15px;
  }

  .weeks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .weeks span {
    margin-left: 0;
    font-size: 18px;
  }

  .clock-icon {
    position: absolute;
    bottom: 40px;
    left: 35px;
    font-size: 18px;
  }

  .timer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    margin-left: 90px;
    font-size: 72px;
  }

  .timer span {
    color: #000;
    font-weight: 700;
    position: relative;
    top: 7px;
    transition: all 0.2s;
  }

  .ampm {
    height: 50px;
    width: 60px;
    font-size: 30px;
    position: absolute;
    bottom: 33px;
    right: 15px;
    transition: all 0.2s;
  }

  .toggle-btn {
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    right: 10px;
    top: 10px;
    z-index: 2;
  }
}
