@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0b1215;
  padding: 1rem 3rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  text-align: center;
}

.header-content {
  max-width: 1080px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-content img {
  filter: invert(100%) sepia(1%) saturate(6565%) hue-rotate(347deg)
    brightness(97%) contrast(100%);
  cursor: pointer;
}

.text-box {
  display: inline-block;
}

header div h1 {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 24px;
  background: -webkit-linear-gradient(220.55deg, #fff6eb 0%, #dfd1c5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  margin: 72px auto 0;
  background-color: #d4d4d4;
  min-height: calc(100vh - 72px);
  padding-top: 1em;
}

main .card {
  background-color: #fff;
  max-width: 350px;
  padding: 20px 15px;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 5px;
}

label {
  font-weight: 600;
  font-size: 14px;
}

label span {
  color: #dc2626;
}

.term-label {
  font-weight: 400;
}

input {
  font-size: medium;
  padding: 16px 14px;
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 0.2em;
}

input::placeholder {
  color: #a3a3a3;
}

.term {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.term label {
  margin-bottom: 3px;
}

.form-button {
  width: 100%;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(220.55deg, #7cbbff 0%, #4b73ff 100%);
  cursor: pointer;
  font-weight: 700;
}

.form-button:hover {
  background-color: rgb(42, 42, 42);
}

@media screen and (min-width: 550px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  header div h1 {
    font-size: 32px;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
    margin: 84.8px auto 0;
    padding: 2rem;
  }
}

@media screen and (min-width: 950px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}
