@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0b1215;
  padding: 1rem 1rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .text-box {
  display: inline-block;
}

header ion-icon {
  cursor: pointer;
  color: #39a0ff;
  font-size: 24px;
}

header div h1 {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 24px;
  background: -webkit-linear-gradient(220.55deg, #8fff85 0%, #39a0ff 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  background-color: white;
  min-height: 100vh;
  max-width: 1200px;
  margin: 72px auto 0;
  padding: 1rem;
}

.card {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
}

.card .left {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: end;
  background-position: center;
  background-size: cover;
}

.clear {
  background-image: url(assets/clear-bg.jpg);
}

.clouds {
  background-image: url(assets/clouds-bg.jpg);
}

.drizzle {
  background-image: url(assets/drizzle-bg.jpg);
}

.mist {
  background-image: url(assets/mist-bg.jpg);
}

.rain {
  background-image: url(assets/rain-bg.jpg);
}

.snow {
  background-image: url(assets/snow-bg.jpg);
}

.card img {
  width: 200px;
  height: 200px;
}

.card .right {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.7rem 0 0 0;
}

.search input {
  position: relative;
  left: 10px;
  font-size: 18px;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  border: 1px solid gray;
}

.search input:focus {
  outline: none;
  border: 1px solid black;
}

.search button {
  position: relative;
  right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border: none;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.search ion-icon {
  font-size: 20px;
  color: white;
}

.results {
  display: flex;
  height: 100%;
  flex: 1;
}

.temperature {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temperature h2 {
  font-size: 32px;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.item {
  margin: 0 auto;
  align-items: center;
  display: flex;
  gap: 0.4rem;
}

.item img {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 640px) {
  .card {
    flex-direction: row;
  }
  .temperature h2 {
    font-size: 72px;
  }
  .item img {
    height: 60px;
    width: 60px;
  }

  .item {
    gap: 0.8rem;
  }

  .item p {
    font-size: 32px;
  }

  .card .right {
    flex-direction: column-reverse;
  }

  .card .right .search {
    margin: 0 0 3rem 0;
  }
}

@media screen and (min-width: 750px) {
  header {
    padding: 1rem 3rem;
  }

  header div h1 {
    font-size: 32px;
  }
  main {
    margin: 84.8px auto 0;
    padding: 2rem;
  }

  .search input {
    width: 100%;
    margin: 0 0 0 3rem;
  }

  .search button {
    margin: 0 3rem 0 0;
  }
}
